/*External CSS */
h1 {
    border-radius: 100px;
    background-color: lightgoldenrodyellow;
}
body {
    color: lightgoldenrodyellow;
    background-color: rgb(34, 40, 40);
    text-align:center;
}
h2 {
    color: lightgoldenrodyellow;
    text-align: center;
}
